
{% for monitoring in monitorings %}
    {# {{ dump(monitoring) }} {{ monitoring.accidentCase.vehicle.dealer.id }}#}
    <span class="textBold textItalic"> {{ monitoring.code }} </span>
    <span class="textItalic"> {{ monitoring.timeSave | date('d/m/Y H:i:s') }} </span>
    <span class="textBold textItalic">  {{ monitoring.operator }} </span>
    {% if monitoring.code == "PG" %} 
        <a title="PG edit" href="{{ path('truck_monitoring_editmonitoringpg', {"monitoringId":monitoring.id}) }}">edit</a> 
    {% elseif monitoring.code == "CPG" %}
        <a title="PG edit" href="{{ path('truck_monitoring_editmonitoringcpg', {"monitoringId":monitoring.id}) }}">edit</a>
    {% endif %}
    <br/>

    <span class="textBold textItalic">contact through:  </span> {{ monitoring.contactThrough }} <br/>
    <span class="textBold textItalic">comments:  </span> {{ monitoring.comments }}

    <hr class="hrStyle"/>
{% else %}
    Empty.
    <hr class="hrStyle"/>
{% endfor %}
