
{% for monitoring in monitorings %}
    {# {{ dump(monitoring) }}#}
    {# {{ monitoring.accidentCase.vehicle.dealer.id }}#}
    <span class="textBold textItalic"> {{ monitoring.code }} </span>
    <span class="textItalic"> {{ monitoring.timeSave | date('d/m/Y H:i:s') }} </span>
    <span class="textBold textItalic">  {{ monitoring.operator }} </span>
    {% if monitoring.code == "START" %} 
        <a title="START edit" href="{{ path('truck_monitoringstart_editmonitoringstart', {"monitoringId":monitoring.id}) }}">edit</a>  
    {% elseif monitoring.code == "PG" %}
        <a title="PG edit" href="{{ path('truck_monitoring_editmonitoringpg', {"monitoringId":monitoring.id}) }}">edit</a>
    {% elseif monitoring.code == "CPG" %}
        <a title="CPG edit" href="{{ path('truck_monitoring_editmonitoringcpg', {"monitoringId":monitoring.id}) }}">edit</a>
    {% elseif monitoring.code == "RO" %}
        <a title="RO edit" href="{{ path('truck_monitoring_editmonitoringro', {"monitoringId":monitoring.id}) }}">edit</a>    
    {% elseif monitoring.code == "ETA" %}
        <a title="ETA edit" href="{{ path('truck_monitoring_editmonitoringeta', {"monitoringId":monitoring.id}) }}">edit</a>   
    {% elseif monitoring.code == "STRR" %}
        <a title="STRR edit" href="{{ path('truck_monitoring_editmonitoringstrr', {"monitoringId":monitoring.id}) }}">edit</a>   
    {% elseif monitoring.code == "END" %}
        <a title="END edit" href="{{ path('truck_monitoring_editmonitoringend', {"monitoringId":monitoring.id}) }}">edit</a>  
    {% elseif monitoring.code == "Out" %}
        <a title="Out edit" href="{{ path('truck_monitoring_editmonitoringout', {"monitoringId":monitoring.id}) }}">edit</a>   
    {% elseif monitoring.code == "Incoming" %}
        <a title="Incoming edit" href="{{ path('truck_monitoring_editmonitoringincoming', {"monitoringId":monitoring.id}) }}">edit</a>  
    {% endif %}
    <br/>
    {% if monitoring.code == "ETA" %} 
        saved ETA: {{ monitoring.timeSet | date('d/m/Y H:i:s') }} <br/>
    {% elseif monitoring.code == "PG" %} 
        home dealer: {{ monitoring.homeDealer.name }} ({{ monitoring.homeDealer.city }}) <br/>
    {% elseif monitoring.code == "CPG" %} 
        dealer confirmed: {{ monitoring.homeDealer.name }} ({{ monitoring.homeDealer.city }}) <br/>        
    {% elseif monitoring.code == "RO" %}
        repair dealer: {{ monitoring.repairDealer.name }} ({{ monitoring.repairDealer.city }}) <br/>
    {% elseif monitoring.code == "STRR" %}    
        time of start repair: {{ monitoring.timeSet | date('d/m/Y H:i:s') }} <br/>
    {% elseif monitoring.code == "END" %}    
        time of end repair: {{ monitoring.timeSet | date('d/m/Y H:i:s') }} <br/>        
    {% endif %}    

    <span class="textBold textItalic">contact through:  </span> {{ monitoring.contactThrough }} <br/>
    <span class="textBold textItalic">comments:  </span> {{ monitoring.comments }}

    <hr class="hrStyle"/>
{% else %}
    Empty.
    <hr class="hrStyle"/>
{% endfor %}
