
{% for monitoring in monitorings %}
    <span class="textBold textItalic morph"> {{ monitoring.code }} </span>
    <span class="textItalic"> {{ monitoring.timeSave | date('d/m/Y H:i:s') }} </span>
    <span class="textBold textItalic">  {{ monitoring.operator }} </span>
    {% if monitoring.code == "START" %} 
        <button title="START edit" class="panelGreyButton"
                onclick="window.location = '{{ path('truck_monitoringstart_editmonitoringstart', {"monitoringId":monitoring.id}) }}';">
            edit 
        </button>
    {% elseif monitoring.code == "PG" %}
        <button title="Withdrawal PG" class="panelRedButton"
                onclick="window.location = '{{ path('truck_monitoringwpg_createmonitoringwpg', {"monitoringPgId":monitoring.id}) }}';">
            WPG
        </button>

        <button title="PG edit" class="panelGreyButton"
                onclick="window.location = '{{ path('truck_monitoringpg_editmonitoringpg', {"monitoringId":monitoring.id}) }}';">
            edit
        </button>

        {% if monitoring.isDocumentSend == 1 %}
            <span title="PG document was successfully sent.">
                (mail sent)
            </span>
        {% else %}
            <span title="PG document not sent, please try again later. Is case and dealer active?">
                (mail failed)
            </span>
        {% endif %}
    {% elseif monitoring.code == "WPG" %}
        <button title="WPG edit" class="panelGreyButton"
                onclick="window.location = '{{ path('truck_monitoringwpg_editmonitoringwpg', {"monitoringId":monitoring.id}) }}';">
            edit
        </button>
            
        {% if monitoring.isDocumentSend == 1 %}
            <span title="WPG document was successfully sent.">
                (mail sent)
            </span>
        {% else %}
            <span title="WPG document not sent, please try again later. Is case active?">
                (mail failed)
            </span>
        {% endif %}            
    {% elseif monitoring.code == "CPG" %}
        <button title="Withdrawal CPG" class="panelRedButton"
                onclick="window.location = '{{ path('truck_monitoringwcpg_createmonitoringwcpg', {"monitoringCpgId":monitoring.id}) }}';">
            WCPG
        </button>
        <button title="CPG edit" class="panelGreyButton"
                onclick="window.location = '{{ path('truck_monitoringcpg_editmonitoringcpg', {"monitoringId":monitoring.id}) }}';">
            edit
        </button> 
    {% elseif monitoring.code == "WCPG" %}
        <button title="WCPG edit" class="panelGreyButton"
                onclick="window.location = '{{ path('truck_monitoringwcpg_editmonitoringwcpg', {"monitoringId":monitoring.id}) }}';">
            edit
        </button> 
    {% elseif monitoring.code == "RO" %}
        <button title="Withdrawal RO" class="panelRedButton"
                onclick="window.location = '{{ path('truck_monitoringwro_createmonitoringwro', {"monitoringRoId":monitoring.id}) }}';">
            WRO
        </button>
        <button title="RO edit" class="panelGreyButton"
                onclick="window.location = '{{ path('truck_monitoringro_editmonitoringro', {"monitoringId":monitoring.id}) }}';">
            edit
        </button> 
    {% elseif monitoring.code == "WRO" %}
        <button title="WRO edit" class="panelGreyButton"
                onclick="window.location = '{{ path('truck_monitoringwro_editmonitoringwro', {"monitoringId":monitoring.id}) }}';">
            edit
        </button>       
    {% elseif monitoring.code == "ETA" %}
        <button title="ETA edit" class="panelGreyButton"
                onclick="window.location = '{{ path('truck_monitoringeta_editmonitoringeta', {"monitoringId":monitoring.id}) }}';">
            edit
        </button>    
    {% elseif monitoring.code == "STRR" %}
        <button title="STRR edit" class="panelGreyButton"
                onclick="window.location = '{{ path('truck_monitoringstrr_editmonitoringstrr', {"monitoringId":monitoring.id}) }}';">
            edit
        </button>    
    {% elseif monitoring.code == "END" %}
        <button title="END edit" class="panelGreyButton"
                onclick="window.location = '{{ path('truck_monitoringend_editmonitoringend', {"monitoringId":monitoring.id}) }}';">
            edit
        </button>           
    {% elseif monitoring.code == "Out" %}
        <button title="Out edit" class="panelGreyButton"
                onclick="window.location = '{{ path('truck_monitoringout_editmonitoringout', {"monitoringId":monitoring.id}) }}';">
            edit
        </button>          
    {% elseif monitoring.code == "Incoming" %}
        <button title="Incoming edit" class="panelGreyButton"
                onclick="window.location = '{{ path('truck_monitoringincoming_editmonitoringincoming', {"monitoringId":monitoring.id}) }}';">
            edit
        </button>          
    {% endif %}
    <br/>
    {% if monitoring.code == "ETA" %} 
        saved ETA: {{ monitoring.timeSet | date('d/m/Y H:i:s') }} <br/>
    {% elseif monitoring.code == "PG" or monitoring.code == "WPG" %} 
        home dealer: {{ monitoring.homeDealer.name }} ({{ monitoring.homeDealer.city }}) <br/>
    {% elseif monitoring.code == "CPG" or monitoring.code == "WCPG" %} 
        dealer confirmed: {{ monitoring.homeDealer.name }} ({{ monitoring.homeDealer.city }}) <br/>        
    {% elseif monitoring.code == "RO" %}
        repair dealer: {{ monitoring.repairDealer.name }} ({{ monitoring.repairDealer.city }}) <br/>
    {% elseif monitoring.code == "STRR" %}    
        time of start repair: {{ monitoring.timeSet | date('d/m/Y H:i:s') }} <br/>
    {% elseif monitoring.code == "END" %}    
        time of end repair: {{ monitoring.timeSet | date('d/m/Y H:i:s') }} <br/>        
    {% endif %}    

    <span class="textBold textItalic">contact through:  </span> {{ monitoring.contactThrough }} <br/>
    <span class="textBold textItalic">comments:  </span> {{ monitoring.comments }}

    <hr class="hrStyle"/>
{% else %}
{% endfor %}
