
{% for monitoring in monitorings %}
    {# {{ dump(monitoring) }} {{ monitoring.accidentCase.vehicle.dealer.id }}#}
    <span class="textBold textItalic" title="{{ monitoring.codeDescription }}"> {{ monitoring.code }} </span>
    <span class="textItalic"> {{ monitoring.timeSave | date('d/m/Y H:i:s') }} </span>
    <span class="textBold textItalic">  {{ monitoring.operator }} </span><br/>

    <span class="textBold textItalic">contact through:  </span> {{ monitoring.contactThrough }} <br/>

    {{ monitoring.comments }}
    <hr class="hrStyle"/>
{% else %}
    Empty.
    <hr class="hrStyle"/>
{% endfor %}
