{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}show vehicle {{ vehicle.id }}{% endblock %}

{% block body %}

    <center>
        <h3 class="formTitle">show vehicle {{ vehicle.id }}</h3>
    </center>

    {# TODO: add links to cases (?) etc.#}
    <a href='{{ path("truck_vehicle_editvehicle", {"vehicleId":vehicle.id}) }}' >
        <button class="pure-button pure-button-active button90blue" >edit vehicle</button> </a>
    <a href='{{ path("truck_dealer_showdealer", {"dealerId":dealer.id}) }}' >
        <button class="pure-button pure-button-active button90blue" >show dealer</button> </a>
        {% if is_granted('ROLE_OPERATOR') %}
        <a href='{{ path("truck_accidentcase_createcase", {"vehicleId":vehicle.id}) }}' >
            <button class="pure-button pure-button-active button90red" >new case</button> </a>
        {% endif %}
    <br/><br/>

    Home dealer: {{ dealer.name }} <br/>
    VIN: {{ vehicle.vin }} <br/>
    Company name: {{ vehicle.companyName }} <br/>
    Company tax ID number: {{ vehicle.taxIdNumber }} <br/>
    Company - contact person: {{ vehicle.contactPerson }} <br/>
    Company - street: {{ vehicle.street }} <br/>
    Company - zip code, city: {{ vehicle.zipCode }} {{ vehicle.city }} <br/>
    Phone: {{ vehicle.phone }} <br/>
    Fax: {{ vehicle.fax }} <br/>
    Mail: {{ vehicle.mail }} <br/><br/>

    Vehicle registration number: {{ vehicle.registrationNumber }} <br/>
    Vehicle mileage: {{ vehicle.mileage }} <br/>
    Vehicle guarantee type: {{ vehicle.guaranteeType }} <br/>
    Vehicle purchase date: {{ vehicle.purchaseDate | date("d/m/Y") }} <br/>
    Vehicle name/type: {{ vehicle.nameType }} <br/><br/>

    Number of accident cases: {{ cases|length }} <br/>
    
    {% if is_granted('ROLE_OPERATOR') %}
        {% for case in cases %} 
            <a target="_blank" title="new window" href='{{ path("truck_operator_panel", {"caseId":case.id, "casesStatus":case.status}) }}' >
                <button class="pure-button pure-button-active button70noBackground" 
                        style="background-color:{{ case.progressColor }}" >case {{ case.id }}</button> </a>
            {% else %}
            {% endfor %}
        {% endif %}    

{% endblock %}

