{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}show vehicle {{ vehicle.id }}{% endblock %}

{% block body %}

    <center>
        <h3 class="formTitle">show vehicle {{ vehicle.id }}</h3>
    </center>

    <button title="edit vehicle" class="pure-button pure-button-active button90blue"
            onclick="window.location = '{{ path("truck_vehicle_editvehicle", {"vehicleId":vehicle.id}) }}';">
        edit vehicle
    </button>
    <button title="new window" class="pure-button pure-button-active button90blue" 
            onclick="window.open('{{ path("truck_dealer_showdealer", {"dealerId":dealer.id}) }}');">
        show dealer
    </button> 
    {% if is_granted('ROLE_OPERATOR') %}
        <button title="start new case" class="pure-button pure-button-active button90red"
                onclick="window.location = '{{ path("truck_accidentcase_createcase", {"vehicleId":vehicle.id}) }}';">
            new case
        </button>      
    {% endif %}
    <br/><br/>

    Home dealer: {{ dealer.name }} <br/>
    VIN: {{ vehicle.vin }} <br/>
    Company name: {{ vehicle.companyName }} <br/>
    Company tax ID number: {{ vehicle.taxIdNumber }} <br/>
    Company - contact person: {{ vehicle.contactPerson }} <br/>
    Company - street: {{ vehicle.street }} <br/>
    Company - zip code, city: {{ vehicle.zipCode }} {{ vehicle.city }} <br/>
    Phone: {{ vehicle.phone }} <br/>
    Fax: {{ vehicle.fax }} <br/>
    Mail: {{ vehicle.mail }} <br/><br/>

    Vehicle registration number: {{ vehicle.registrationNumber }} <br/>
    Vehicle mileage: {{ vehicle.mileage }} <br/>
    Vehicle guarantee type: {{ vehicle.guaranteeType }} <br/>
    Vehicle purchase date: {{ vehicle.purchaseDate | date("d/m/Y") }} <br/>
    Vehicle name/type: {{ vehicle.nameType }} <br/><br/>

    Number of accident cases: {{ cases|length }} <br/>

    {% if is_granted('ROLE_OPERATOR') %}
        {% for case in cases %}            
            <button title="new window" class="pure-button pure-button-active button70noBackground" 
                    onclick="window.open('{{ path("truck_operator_panel", {"caseId":case.id, "casesStatus":case.status}) }}');"
                    style="background-color:{{ case.progressColor }}" >
                case {{ case.id }} 
                {% if case.timeStart is not null %}
                    ({{ case.timeStart | date('Y.m.d') }})
                {% endif %}
            </button>
        {% else %}
        {% endfor %}
    {% endif %}    

{% endblock %}

