{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}TruckBundle:Vehicle:show{% endblock %}

{% block body %}

    <center>
        <h3 class="formTitle">show vehicle {{ vehicle.id }}</h3>
    </center>

    {# TODO: add links: new case (operator role), dealer, cases (?) etc.#}
    <a href='{{ path("truck_vehicle_editvehicle", {"vehicleId":vehicle.id}) }}' ><button>edit vehicle</button> </a>
    <a href='{{ path("truck_dealer_showdealer", {"dealerId":dealer.id}) }}' ><button>show dealer</button> </a>
    {% if is_granted('ROLE_OPERATOR') %}
        <a href='{{ path("truck_accidentcase_createcase", {"vehicleId":vehicle.id}) }}' ><button>new case</button> </a>
    {% endif %}
    <br/><br/>

    Home dealer: {{ dealer.name }} <br/>
    VIN: {{ vehicle.vin }} <br/>
    Company name: {{ vehicle.companyName }} <br/>
    Company tax ID number: {{ vehicle.taxIdNumber }} <br/>
    Company - contact person: {{ vehicle.contactPerson }} <br/>
    Company - street: {{ vehicle.street }} <br/>
    Company - zip code, city: {{ vehicle.zipCode }} {{ vehicle.city }} <br/>
    Phone: {{ vehicle.phone }} <br/>
    Fax: {{ vehicle.fax }} <br/>
    Mail: {{ vehicle.mail }} <br/><br/>
    
    Vehicle registration number: {{ vehicle.registrationNumber }} <br/>
    Vehicle mileage: {{ vehicle.mileage }} <br/>
    Vehicle guarantee type: {{ vehicle.guaranteeType }} <br/>
    Vehicle purchase date: {{ vehicle.purchaseDate | date("d/m/Y") }} <br/>
    Vehicle name/type: {{ vehicle.nameType }} <br/><br/>

    Number of accident cases: {{ cases|length }} <br/>

{% endblock %}

