{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}truck - index{% endblock %}

{% block stylesheets %} 
    <link href="{{ asset('/css/pure/pure-min.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/buttons.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %} 
    <br/>

    <center>
        <h3 class="formTitle">truck service center - main menu</h3>
    </center>

    {#user panel#}
    <p class="boldText"> user bar </p>
    {% if is_granted('ROLE_USER') %}
        <a href='{{ path("fos_user_security_logout") }}' ><button class="pure-button pure-button-active button90green">logout</button> </a>
    {% else %}
        <a href='{{ path("fos_user_security_login") }}' ><button class="pure-button pure-button-active button90green">login</button> </a>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <a href='{{ path("fos_user_profile_show") }}' ><button class="pure-button pure-button-active button90green">profile</button> </a>
        <a href='{{ path("fos_user_profile_edit") }}' ><button class="pure-button pure-button-active button90green">edit profile</button> </a>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
    {% else %}
        <a href='{{ path("fos_user_registration_register") }}' ><button class="pure-button pure-button-active button90green">register</button> </a>
    {% endif %}

    <br/><br/>

    {#dealer panel#}
    {% if is_granted('ROLE_DEALER') %}
        <hr class="hrStyle"/>
        <p class="boldText"> dealer </p>
        <a href='{{ path("truck_dealer_showallactivedealers") }}' ><button class="pure-button pure-button-active button90green">active dealers</button> </a>
        <a href='{{ path("truck_dealer_showalldealers") }}' ><button class="pure-button pure-button-active button90green">all dealers</button> </a>
        <a href='{{ path("truck_vehicle_createvehicle") }}' ><button class="pure-button pure-button-active button90orange">new vehicle</button> </a>
        <a href='{{ path("truck_dealer_showalldealers") }}' ><button class="pure-button pure-button-active button90green">reserved - edit dealer</button> </a>
        <br/><br/>
    {% endif %}

    {#for operator#}  
    {% if is_granted('ROLE_OPERATOR') %}
        <hr class="hrStyle"/>
        <p class="boldText"> operator </p>
        <a href='{{ path("truck_operator_panel") }}' ><button class="pure-button pure-button-active button90orange">OPERATOR PANEL</button> </a>
        <a href='{{ path("truck_vehicle_createvehicle") }}' ><button class="pure-button pure-button-active button90orange">new vehicle & case</button> </a>
        <a href='{{ path("truck_dealer_showallactivedealers") }}' ><button class="pure-button pure-button-active button90green">active dealers</button> </a>
        <a href='{{ path("fos_user_security_login") }}' ><button class="pure-button pure-button-active button90green">reserve</button> </a>
        <a href='{{ path("fos_user_security_login") }}' ><button class="pure-button pure-button-active button90green">reserve</button> </a>
        <br/><br/>
    {% endif %}

    {#for control#}  
    {% if is_granted('ROLE_CONTROL') %}
        <hr class="hrStyle"/>
        <p class="boldText"> control </p>
        <a href='{{ path("truck_dealer_createdealer") }}' ><button class="pure-button pure-button-active button90green">add new dealer</button> </a>
        <a href='{{ path("fos_user_security_login") }}' ><button class="pure-button pure-button-active button90green">reserve</button> </a>
        <br/><br/>
    {% endif %}    

    {#for admin#}  
    {% if is_granted('ROLE_ADMIN') %}
        <hr class="hrStyle"/>
        <p class="boldText"> admin </p>
        <a href='{{ path("fos_user_security_login") }}' ><button class="pure-button pure-button-active button90green">reserve</button> </a>
        <a href='{{ path("fos_user_security_login") }}' ><button class="pure-button pure-button-active button90green">reserve</button> </a>
        <br/><br/>
    {% endif %}  

    {#for SUPER admin#}  
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <hr class="hrStyle"/>
        <p class="boldText"> super admin </p>
        <a href='{{ path("fos_user_security_login") }}' ><button class="pure-button pure-button-active button90green">reserve</button> </a>
        <a href='{{ path("fos_user_security_login") }}' ><button class="pure-button pure-button-active button90green">reserve</button> </a>
        <br/><br/>
    {% endif %}      

{% endblock %}