{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}truck - main{% endblock %}

{% block body %} 

    <a href='{{ path("fos_user_security_login") }}' ><button>login</button> </a>

    <a href='{{ path("fos_user_security_logout") }}' ><button>logout</button> </a>

    <a href='{{ path("fos_user_profile_show") }}' ><button>profile</button> </a>

    <a href='{{ path("fos_user_profile_edit") }}' ><button>edit profile</button> </a>

    <a href='{{ path("fos_user_registration_register") }}' ><button>register</button> </a>

    <a href='{{ path("fos_user_security_login") }}' ><button>reserve</button> </a>

    <a href='{{ path("fos_user_security_login") }}' ><button>reserve</button> </a>

    <a href='{{ path("fos_user_security_login") }}' ><button>reserve</button> </a>

    <a href='{{ path("fos_user_security_login") }}' ><button>reserve</button> </a>

{% endblock %}