{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}truck - index{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/css/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %} 
    <br/>

    {#user panel#}
    <p class="boldText"> User bar </p>
    {% if is_granted('ROLE_USER') %}
        <a href='{{ path("fos_user_security_logout") }}' ><button>Logout</button> </a>
    {% else %}
        <a href='{{ path("fos_user_security_login") }}' ><button>Login</button> </a>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <a href='{{ path("fos_user_profile_show") }}' ><button>profile</button> </a>
        <a href='{{ path("fos_user_profile_edit") }}' ><button>edit profile</button> </a>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
    {% else %}
        <a href='{{ path("fos_user_registration_register") }}' ><button>register</button> </a>
    {% endif %}

    <br/><br/>

    {#dealer panel#}
    {% if is_granted('ROLE_DEALER') %}
        <p class="boldText"> Dealer bar </p>
        <a href='{{ path("truck_dealer_showalldealers") }}' ><button>all dealers</button> </a>
        <a href='{{ path("truck_vehicle_createvehicle") }}' ><button>New vehicle</button> </a>
        <a href='{{ path("truck_dealer_showalldealers") }}' ><button>reserved - edit dealer</button> </a>
        <br/><br/>
    {% endif %}

    {#for operator#}  
    {% if is_granted('ROLE_OPERATOR') %}
        <p class="boldText"> Operator bar </p>
        <a href='{{ path("truck_operator_panel") }}' ><button>OPERATOR PANEL</button> </a>
        <a href='{{ path("fos_user_security_login") }}' ><button>reserve</button> </a>
        <a href='{{ path("fos_user_security_login") }}' ><button>reserve</button> </a>
        <br/><br/>
    {% endif %}

    {#for control#}  
    {% if is_granted('ROLE_CONTROL') %}
        <p class="boldText"> Control bar </p>
        <a href='{{ path("truck_dealer_createdealer") }}' ><button>Add new dealer</button> </a>
        <a href='{{ path("fos_user_security_login") }}' ><button>reserve</button> </a>
        <br/><br/>
    {% endif %}    

    {#for admin#}  
    {% if is_granted('ROLE_ADMIN') %}
        <p class="boldText"> Admin bar </p>
        <a href='{{ path("fos_user_security_login") }}' ><button>reserve</button> </a>
        <a href='{{ path("fos_user_security_login") }}' ><button>reserve</button> </a>
        <br/><br/>
    {% endif %}  

    {#for SUPER admin#}  
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <p class="boldText"> Super admin bar </p>
        <a href='{{ path("fos_user_security_login") }}' ><button>reserve</button> </a>
        <a href='{{ path("fos_user_security_login") }}' ><button>reserve</button> </a>
        <br/><br/>
    {% endif %}      

{% endblock %}