{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}edit case end{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/css/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/pure/pure-min.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/buttons.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %} 

    <div class="pure-form pure-form-aligned">
        <div class="pure-control-group">

            <center>
                <h3 class="formTitle">edit case end (report)</h3>
            </center>

            {{ form_start(form) }} 
            {{ form_widget(form) }} 

            <center>
                <input class="pure-button pure-button-active button90red" type="submit" value="save edit"/>
            </center>

            {{ form_end(form) }}
        </div> 
    </div>

{% endblock %}
