
<a title="switch to active cases" class="casesSwitch" 
   href="{{ path('truck_operator_panel', {'caseId': "0", 'casesStatus': "active"}) }}">
    All cases:
</a>
<br/>

{% for case in cases %} 

    {% if caseId == case.id %}
        <button title="{{ case.vehicle.companyName }}" class="caseButton" 
                style="background-color:{{ case.progressColor }}"
                onclick="window.location = '{{ path('truck_operator_panel', {'caseId': case.id, 'casesStatus': "all"}) }}';">
            &rarr; {{ case.id }} &larr;
        </button> <br/>
    {% else %}
        <button title="{{ case.vehicle.companyName }}" class="caseButton" 
                style="background-color:{{ case.progressColor }}"
                onclick="window.location = '{{ path('truck_operator_panel', {'caseId': case.id, 'casesStatus': "all"}) }}';">
            {{ case.id }}
        </button> <br/>
    {% endif %}    

{% else %}
    Empty.
{% endfor %}

<div class="navigation">
    {{ knp_pagination_render(cases) }}
</div>
