
<a title="switch to inactive cases" class="casesSwitch" href="{{ path('truck_operator_panel', {'caseId': "0", 'casesStatus': "inactive"}) }}">
    Active cases:
</a>
<br/>

{% for case in cases %} 

    {% if caseId == case.id %}
        <a title="{{ case.vehicle.companyName }}" href="{{ path('truck_operator_panel', {'caseId': case.id}) }}"> 
            <button class="caseButton" style="background-color:{{ case.progressColor }}">&rarr; {{ case.id }} &larr;</button> </a> <br/>
        {% else %}
        <a title="{{ case.vehicle.companyName }}" href="{{ path('truck_operator_panel', {'caseId': case.id}) }}"> 
            <button class="caseButton" style="background-color:{{ case.progressColor }}">{{ case.id }}</button> </a> <br/>
        {% endif %}

{% else %}
    Empty.
{% endfor %}
