
{% if case is not empty %}
    {# {{ dump(case) }}#}

    <span class="textBold textItalic">Truck: </span> {{ case.vehicle.nameType }}, 
    {{ case.vehicle.registrationNumber }}, Guarantee: 
    {{ case.vehicle.guaranteeType }}, Dealer: {{ case.vehicle.dealer.name }} <br/>

    <span class="textBold textItalic">Company: </span> {{ case.vehicle.companyName }}, Contact: 
    {{ case.vehicle.contactPerson }}. 
    <a target="_blank" title="new window" href="{{ path('truck_vehicle_showvehicle', {"vehicleId":case.vehicle.id}) }}" >vehicle/company details</a>
    <br/>

    <span class="textBold textItalic">Damage description: </span> {{ case.damageDescription }} <br/>
    <span class="textBold textItalic">Location: </span> {{ case.location }} <br/>
    <span class="textBold textItalic">Contact to driver: </span> {{ case.driverContact }} 
    <a target="_blank" title="new window" href="{{ path('truck_accidentcase_editcase', {"caseId":case.id}) }}" >case edit/details</a>

    <hr class="hrStyle"/>
{% endif %}