
{% if case is not empty %}  
    {#TODO change for end after tests#}
    {% if case.progress == "start" %}
     
        <span class="textBold textItalic">Data for the report </span> 
        <a target="_blank" title="new window" href="{{ path('truck_accidentcase_editcaseend', {"caseId":case.id}) }}" >edit</a>
        <br/> 

        <span class="textBold textItalic">Arrival time:</span> {{ case.reportArrivalTime }} minutes <br/>
        <span class="textBold textItalic">Service car late:</span> {{ case.reportLate }} minutes <br/>
        <span class="textBold textItalic">Road service time:</span> {{ case.reportRsTime }} minutes <br/>
        <span class="textBold textItalic">No road service time:</span> {{ case.reportNrsTime }} minutes <br/>
        <span class="textBold textItalic">Repair total time:</span> {{ case.reportRepairTotal }} minutes <br/>
        <span class="textBold textItalic">Case total time:</span> {{ case.reportCaseTotal }} minutes <br/>
        <span class="textBold textItalic">Repair status (completed/incomplete/canceled):</span> {{ case.reportRepairStatus }} <br/>

    {% endif %}  
{% else %}
{% endif %}
