
{% if case is not empty %}  

    {% if case.progressColor == "#E6E6E6" %}

        <span class="textBold textItalic">Data for the report </span> 
        <a target="_blank" title="new window" href="{{ path('truck_accidentcase_editcaseend', {"caseId":case.id}) }}" >
            <button class="panelGreyButton">edit</button>
        </a>
        <br/> 

        <span class="textBold textItalic">Arrival time:</span> {{ case.reportArrivalTime }} minutes <br/>
        <span class="textBold textItalic">Service car late:</span> {{ case.reportLate }} minutes <br/>
        <span class="textBold textItalic">Road service time:</span> {{ case.reportRsTime }} minutes <br/>
        <span class="textBold textItalic">No road service time:</span> {{ case.reportNrsTime }} minutes <br/>
        <span class="textBold textItalic">Repair total time:</span> {{ case.reportRepairTotal }} minutes <br/>
        <span class="textBold textItalic">Case total time:</span> {{ case.reportCaseTotal }} minutes <br/>
        <span class="textBold textItalic">Repair status (completed/incompleted/canceled):</span> {{ case.reportRepairStatus }} <br/>

        {% if case.status == "active" %}
            <center>
                <a title="deactivate case" href="{{ path('truck_accidentcase_activatedeactivatecase', {"caseId":case.id}) }}" >
                    <button class="panelRedButton">close case</button>
                </a>
            </center>
        {% else%}    
            <center>
                <a title="activate case" href="{{ path('truck_accidentcase_activatedeactivatecase', {"caseId":case.id}) }}" >
                    <button class="panelRedButton">open case</button>
                </a>
            </center>
        {% endif %}
    {% endif %}  

{% endif %}
