{% if is_granted('ROLE_USER') %}

    <button title="back to main page" 
            class="topMenu" 
            onclick="window.location = '{{ path('truck_main_index') }}';">
        main_page
    </button>   

    <button title="new user" 
            class="topMenu" 
            onclick="window.location = '{{ path('fos_user_registration_register') }}';">
        registration
    </button>     

    <button title="show user profile" 
            class="topMenu" 
            onclick="window.location = '{{ path('fos_user_profile_show') }}';">
        profile
    </button>         

    <button title="edit user profile" 
            class="topMenu" 
            onclick="window.location = '{{ path('fos_user_profile_edit') }}';">
        edit_profile
    </button>          

    <button title="change password" 
            class="topMenu" 
            onclick="window.location = '{{ path('fos_user_change_password') }}';">
        change_password
    </button>         

    <button title="logout user" 
            class="topMenu" 
            onclick="window.location = '{{ path('fos_user_security_logout') }}';">
        {{ app.user.username }}:logout
    </button>    
{% endif %} 
