{% trans_default_domain 'FOSUserBundle' %}

        <center>
            <h3 class="formTitle">user "{{ app.user.username }}" profile</h3>
        </center>

<div class="fos_user_user_show padding7px">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
