{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}show user{% endblock %}

{% block body %} 

    {{ include('TruckBundle:User:user_menu.html.twig') }}

    <center>
        <h3 class="formTitle">user details</h3>
    </center>

    <div class="padding7px">
        {% if user is not empty %}
            <span class="boldText"> User ID:</span> {{ user.id }} <br/>
            <span class="boldText"> Username:</span> {{ user.username }} <br/>
            <span class="boldText"> E-mail:</span> {{ user.email }} <br/>
            <span class="boldText"> Enabled:</span> {{ user.enabled ? 'Yes':'No' }} <br/>
            <span class="boldText"> Last login:</span> {{ user.lastLogin | date('d/m/Y H:i:s') }} <br/>

            <hr class="hrStyle" />
            <span class="boldText"> Roles:</span> <br/>
            {% for role in user.roles %}
                {% if role != "ROLE_SUPER_ADMIN" %}
                    <button title="remove role {{ role }}" 
                            class="pure-button pure-button-active button70noBackground" 
                            onclick="window.location = '{{ path('truck_user_removerolefromuser', {'userId': user.id, 'role': role}) }}';">
                        remove: 
                    </button>   
                {% endif %} 
                {{ role }} 
                <br/>
            {% else %}
                <span> No roles. </span>
            {% endfor %}

            <hr class="hrStyle" />
            {% for permittedRole in permittedRoles %}
                <button title="add role to user" 
                        class="pure-button pure-button-active button70noBackground" 
                        onclick="window.location = '{{ path('truck_user_addroletouser', {'userId': user.id, 'role': permittedRole}) }}';"
                        style="background-color:rgb(66, 184, 221)">
                    add role 
                </button>   
                {{ permittedRole | split('_')[1] }}
                <br/>
            {% else %}
                <span> No roles to add. </span>
            {% endfor %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <hr class="hrStyle" />
                <br/>
                <span class="boldText"> Permanently delete user: </span>
                <br/>
                <button title="delete user" 
                        class="pure-button pure-button-active button70noBackground" 
                        onclick="window.location = '{{ path('truck_user_deleteuser', {'userId': user.id}) }}';"
                        style="background-color:rgb(202, 60, 60)">
                    delete !
                </button>       
            {% endif %}

        {% else %}
            No hits. User was not found.
        {% endif %}
    </div>

{% endblock %}
