{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}all dealers{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/css/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %} 

    <h3>List of dealers</h3>   

    {% for dealer in dealers %} 

        <span class="redBoldText"> {{ dealer.id }}. {{ dealer.name }} ({{ dealer.isActive }}) </span>
        <a target="_blank" title="new window" href="{{ path('truck_dealer_showdealer', {"dealerId":dealer.id}) }}" >details</a>  <br/>
        <span class="boldText"> Address:</span> {{ dealer.street }} <br/>
        <span class="boldText"> City, zip-code:</span> {{ dealer.city }}, {{ dealer.zipCode }} <br/>
        <span class="boldText"> Phone:</span> {{ dealer.mainPhone }} (24H: {{ dealer.phone24h }}) <br/>
        <span class="boldText"> Fax:</span> {{ dealer.mainFax }} <br/>
        <span class="boldText"> Mail:</span> {{ dealer.mainMail }} <br/>
        <span class="boldText"> Phone service car:</span> {{ dealer.phoneServiceCar }} <br/>
        Alternative phones: {{ dealer.altPhone1 }}, {{ dealer.altPhone2 }} <br/>
        Alternative mails: {{ dealer.altMail1 }}, {{ dealer.altMail2 }} <br/>
        <span class="boldText"> Comments:</span> {{ dealer.otherComments }} <br/>

        <hr/>

    {% else %}
        No dealers.
    {% endfor %}

{% endblock %}

