{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}truck - index{% endblock %}

{% block body %}

    <br/>
    <center>
        {% if is_granted('ROLE_USER') %}
            <h3 class="formTitle">truck service center - main menu</h3>
        {% else %}
            <h3 class="formTitle">truck service center</h3>
        {% endif %}
    </center>

    {#user panel#}
    <div class="padding7px">
        {% if is_granted('ROLE_USER') %}
        <div class="indexTitle">
            <center>
                <button title="logout" class="indexMenu"
                        onclick="window.location = '{{ path("fos_user_security_logout") }}';">
                    {{ app.user.username }}:logout
                </button>
                {% else %}
                    <center>
                        <button title="login" class="pure-button pure-button-active button90red"
                                onclick="window.location = '{{ path("fos_user_security_login") }}';">
                            login
                        </button>
                        <button title="password reset"
                                class="pure-button pure-button-active button90blue"
                                onclick="window.location = '{{ path('fos_user_resetting_request') }}';">
                            password reset
                        </button>
                        <button title="register" class="pure-button pure-button-active button90blue"
                                onclick="window.location = '{{ path("fos_user_registration_register") }}';">
                            register
                        </button>
                    </center>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                <button title="show profile" class="indexMenu"
                        onclick="window.location = '{{ path("fos_user_profile_show") }}';">
                    profile
                </button>
                <button title="edit profile" class="indexMenu"
                        onclick="window.location = '{{ path("fos_user_profile_edit") }}';">
                    edit_profile
                </button>
            </center>
        </div>
        {% endif %}


    </div>

    {#dealer panel#}
    {% if is_granted('ROLE_DEALER') %}
        <center>
            <h3 class="formTitle">dealer</h3>
        </center>
        <div class="padding7px">
        <div class="indexTitle">
            <center>
                <button title="show active dealers" class="indexMenu"
                        onclick="window.location = '{{ path("truck_dealer_showallactivedealers") }}';">
                    active_dealers
                </button>
                <button title="show all dealers" class="indexMenu"
                        onclick="window.location = '{{ path("truck_dealer_showalldealers") }}';">
                    all_dealers
                </button>
                <button title="add new vehicle" class="indexMenu"
                        onclick="window.location = '{{ path("truck_vehicle_createvehicle") }}';">
                    new_vehicle
                </button>
                <button title="search for a vehicle" class="indexMenu"
                        onclick="window.location = '{{ path("truck_vehicle_searchvehicle") }}';">
                    search_vehicle
                </button>
            </center>
        </div>
    {% endif %}
    </div>

    {#for operator#}
    {% if is_granted('ROLE_OPERATOR') %}
        <center>
            <h3 class="formTitle">operator</h3>
        </center>

        <div class="padding7px">
        <div class="indexTitle">
            <center>
                <button title="new window" class="indexMenuRed" id="playEngineSound"
                        onclick="window.open('{{ path("truck_operator_panel") }}');">
                    OPERATOR_PANEL
                </button>
                <button title="new window" class="indexMenu"
                        onclick="window.open('{{ path("truck_dealer_showallactivedealers") }}');">
                    active_dealers
                </button>
                <button title="new window" class="indexMenu"
                        onclick="window.open('{{ path("truck_vehicle_createvehicle") }}');">
                    new_vehicle_&_case
                </button>
                <button title="new window" class="indexMenu"
                        onclick="window.open('{{ path("truck_vehicle_searchvehicle") }}');">
                    search_vehicle
                </button>
            </center>
        </div>
    {% endif %}
    </div>

    {#for control#}
    {% if is_granted('ROLE_CONTROL') %}
        <center>
            <h3 class="formTitle">control</h3>
        </center>

        <div class="padding7px">
        <div class="indexTitle">
            <center>
                <button title="add new dealer" class="indexMenuRed"
                        onclick="window.location = '{{ path("truck_dealer_createdealer") }}';">
                    add_new_dealer
                </button>
                <button title="res" class="indexMenu"
                        onclick="window.location = '{{ path("truck_dealer_showalldealers") }}';">
                    reserved
                </button>
                <button title="res" class="indexMenu"
                        onclick="window.location = '{{ path("truck_dealer_showalldealers") }}';">
                    reserved
                </button>
            </center>
        </div>
    {% endif %}
    </div>

    {#for admin#}
    {% if is_granted('ROLE_ADMIN') %}
        <center>
            <h3 class="formTitle">admin</h3>
        </center>

        <div class="padding7px">
        <div class="indexTitle">
            <center>
                <button title="show all users"
                        class="indexMenu"
                        onclick="window.location = '{{ path('truck_user_showallusers') }}';">
                    all_users
                </button>
                <button title="find user by username or email"
                        class="indexMenu"
                        onclick="window.location = '{{ path('truck_user_finduser') }}';">
                    find_user
                </button>
            </center>
        </div>
    {% endif %}
    </div>

    {#for SUPER admin#}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <center>
            <h3 class="formTitle">super admin</h3>
        </center>

        <div class="padding7px">
        <div class="indexTitle">
            <center>
                <button title="show all users"
                        class="indexMenuRed"
                        onclick="window.location = '{{ path('truck_user_showallusers') }}';">
                    you have the option of deleting users
                </button>
            </center>
        </div>
    {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var playEngineSoundButton = document.getElementById("playEngineSound");
            var engineSound = new Audio("{{ asset('/sound_sample/engineStartSound.mp3') }}");

            playEngineSoundButton.addEventListener("mouseenter", function () {
                engineSound.play();
            });

            playEngineSoundButton.addEventListener("mouseleave", function () {
                engineSound.pause();
                engineSound.currentTime = 0;
            });
        });
    </script>
{% endblock %}
