{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}operator panel{% endblock %}

{% block stylesheets %}  
    <link href="{{ asset('/css/operator.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/buttons.css') }}" rel="stylesheet" />
{% endblock %}


{% block logo %}
    Bad Truck Logo <br/><br/>

    {% if caseId != 0 %}
        Displayed case: {{ caseId }}
    {% endif %}
{% endblock %}


{% block menuBar %}
    {# for operator (overall) #}
    {% if is_granted('ROLE_OPERATOR') %}
        <a target="_blank" title="new window" href="{{ path('truck_dealer_showallactivedealers') }}" >active dealers</a> 
        <a target="_blank" title="new window" href="{{ path('truck_main_index') }}" >main page</a> 
        <a target="_blank" title="new window" href="{{ path('truck_dealer_showalldealers') }}" >reserve</a>
    {% endif %}
    <br/>
    {# for control #}
    {% if is_granted('ROLE_CONTROL') %}
        <a target="_blank" title="new window" href="{{ path('truck_dealer_showalldealers') }}" >report panel?</a>
    {% endif %}
    <br/>
    {# for admin? #}
    {% if is_granted('ROLE_ADMIN') %}
        <a target="_blank" title="new window" href="{{ path('truck_dealer_showalldealers') }}" >admin panel?</a>
    {% endif %}
    <br/>
    {# case bar for operator #}
    {% if is_granted('ROLE_OPERATOR') %}
        <a target="_blank" title="new window" href="{{ path('truck_vehicle_createvehicle') }}" >new vehicle</a> 
        <a target="_blank" title="new window" href="{{ path('truck_main_index') }}" >res-new case</a> 
        <a target="_blank" title="new window" href="{{ path('truck_monitoring_monitoringcodesmanual') }}" >monitoring-codes</a>
        <a target="_blank" title="new window" href="{{ path('truck_accidentcase_caseprogresscolormanual') }}" >cases-colors</a>
        <a target="_blank" title="new window" href="{{ path('truck_main_index') }}" >reserved</a>
    {% endif %}
{% endblock %}


{% block cases %}
    {#{% render url('truck_accidentcase_showallcases') %}#}
    {% render url('truck_accidentcase_showallactivecases') %}
{% endblock %}


{% block monitoring %}
    {% render url('truck_accidentcase_showstartcase', {"caseId":caseId}) %}
    <a title="Payment Guarantee (request)" href="{{ path('truck_monitoringpg_createmonitoringpg', {"caseId":caseId}) }}">PG</a> 
    <a title="Confirmation Payment Guarantee" href="{{ path('truck_monitoringcpg_createmonitoringcpg', {"caseId":caseId}) }}">CPG</a>
    <a title="Repair Order" href="{{ path('truck_monitoring_createmonitoringro', {"caseId":caseId}) }}">RO</a>
    <a title="Estimated Arrival Time" href="{{ path('truck_monitoring_createmonitoringeta', {"caseId":caseId}) }}">ETA</a>
    <a title="STaRt Repair Time" href="{{ path('truck_monitoring_createmonitoringstrr', {"caseId":caseId}) }}">STRR</a>
    <a title="END case" href="{{ path('truck_monitoring_createmonitoringend', {"caseId":caseId}) }}">END</a>
    &nbsp;
    <a title="General. Outgoing phone call/fax/mail/etc. " href="{{ path('truck_monitoring_createmonitoringout', {"caseId":caseId}) }}">Out</a>
    <a title="General. Incoming phone call/fax/mail/etc. " href="{{ path('truck_monitoring_createmonitoringincoming', {"caseId":caseId}) }}">Incoming</a>
    <br/>
    {% render url('truck_monitoring_showallmonitoringsforcase', {"caseId":caseId}) %}
    {% render url('truck_accidentcase_showendcase', {"caseId":caseId}) %}
{% endblock %}


{% block logged %}
    {{ app.user.username }} 
{% endblock %}


{% block infoBar %}
    {{ parent() }} info1 messageInfo alarmInfo
{% endblock %}

