{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}operator panel{% endblock %}


{% block logo %}
    Bad Truck Logo
{% endblock %}


{% block menuBar %}
    {# for operator #}
    {% if is_granted('ROLE_OPERATOR') %}
        <a target="_blank" title="new window" href="{{ path('truck_dealer_showalldealers') }}" >Dealers</a> 
        <a target="_blank" title="new window" href="{{ path('truck_main_index') }}" >Main</a> 
        <a target="_blank" title="new window" href="{{ path('truck_dealer_showalldealers') }}" >reserve</a>
    {% endif %}
    <br/>
    {# for control #}
    {% if is_granted('ROLE_CONTROL') %}
        <a target="_blank" title="new window" href="{{ path('truck_dealer_showalldealers') }}" >Report panel?</a>
    {% endif %}
    <br/>
    {# for admin? #}
    {% if is_granted('ROLE_ADMIN') %}
        <a target="_blank" title="new window" href="{{ path('truck_dealer_showalldealers') }}" >Admin panel?</a>
    {% endif %}
    <br/>
{% endblock %}


{% block cases %}
    {#{% render url('truck_accidentcase_showallcases') %}#}
    {% render url('truck_accidentcase_showallactivecases') %}
    {#{% render url('bla', {'id': bla.id}) %}#}
{% endblock %}


{% block monitoring %}
    {% render url('truck_monitoring_testmon', {"id":caseId}) %}
{% endblock %}


{% block logged %}
    {{ app.user.username }} 
{% endblock %}


{% block infoBar %}
    {{ parent() }} info1 messageInfo alarmInfo
{% endblock %}

