{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}operator panel{% endblock %}


{% block logo %}
    Bad Truck Logo <br/><br/>
    
    {% if caseId != 0 %}
        Displayed case: {{ caseId }}
    {% endif %}
{% endblock %}


{% block menuBar %}
    {# for operator #}
    {% if is_granted('ROLE_OPERATOR') %}
        <a target="_blank" title="new window" href="{{ path('truck_dealer_showallactivedealers') }}" >active dealers</a> 
        <a target="_blank" title="new window" href="{{ path('truck_main_index') }}" >main page</a> 
        <a target="_blank" title="new window" href="{{ path('truck_dealer_showalldealers') }}" >reserve</a>
    {% endif %}
    <br/>
    {# for control #}
    {% if is_granted('ROLE_CONTROL') %}
        <a target="_blank" title="new window" href="{{ path('truck_dealer_showalldealers') }}" >report panel?</a>
    {% endif %}
    <br/>
    {# for admin? #}
    {% if is_granted('ROLE_ADMIN') %}
        <a target="_blank" title="new window" href="{{ path('truck_dealer_showalldealers') }}" >admin panel?</a>
    {% endif %}
    <br/>
    {# case bar for operator #}
    {% if is_granted('ROLE_OPERATOR') %}
        <a target="_blank" title="new window" href="{{ path('truck_vehicle_createvehicle') }}" >new vehicle</a> 
        <a target="_blank" title="new window" href="{{ path('truck_main_index') }}" >res-new case</a> 
        <a target="_blank" title="new window" href="{{ path('truck_main_index') }}" >reserved</a>
        <a target="_blank" title="new window" href="{{ path('truck_main_index') }}" >reserved</a>
        <a target="_blank" title="new window" href="{{ path('truck_main_index') }}" >reserved</a>
        <a target="_blank" title="new window" href="{{ path('truck_main_index') }}" >reserved</a>
        <a target="_blank" title="new window" href="{{ path('truck_main_index') }}" >reserved</a>
    {% endif %}
{% endblock %}


{% block cases %}
    {#{% render url('truck_accidentcase_showallcases') %}#}
    {% render url('truck_accidentcase_showallactivecases') %}
    {#{% render url('bla', {'id': bla.id}) %}#}
{% endblock %}


{% block monitoring %}
    {% render url('truck_accidentcase_showstartcase', {"caseId":caseId}) %}
    {% render url('truck_monitoring_showallmonitoringsforcase', {"caseId":caseId}) %}
{% endblock %}


{% block logged %}
    {{ app.user.username }} 
{% endblock %}


{% block infoBar %}
    {{ parent() }} info1 messageInfo alarmInfo
{% endblock %}

